@page "/"
@using FinancialRiskEngine.Client.Components.Display
@using FinancialRiskEngine.Engine
@inject NavigationManager _navigation
@inject IJSRuntime JSRuntime

<div style="margin: 3em">
    <MudGrid>
        <MainCard ImageLink="/img/fed.jpeg" Title="Interest Rates" OnButtonClicked="NavigateToInterestRatesPage" Loading="@_loadingTemplates" Description="Exercises to explain the characteristics of interest rates" />
        <MainCard ImageLink="/img/simulation.jpg" Title="Return simulator" Loading="@_loadingTemplates" OnButtonClicked="NavigateToSimulationsPage" Description="Simulations for returns and other financial applications" />
        <MainCard Title="Risk/Return Analysis" Loading="@_loadingTemplates" />
        <MainCard ImageLink="/img/stockmarket.png" Title="Risk Analysis" Loading="@_loadingTemplates" OnButtonClicked="NavigateToRiskAnalysisPage" />
        <MainCard ImageLink="/img/options.jpg" Title="Options" OnButtonClicked="NavigateToOptionsPage" Loading="@_loadingTemplates" />
        <MainCard ImageLink="/img/documents.jpeg" Title="Resources" Description="To find articles and other documents." OnButtonClicked="NavigateToResourcesPage" Loading="@_loadingTemplates" />
        <MainCard ColorCode="#e69670" Title="Configurations" Loading="@_loadingTemplates" />
    </MudGrid>
</div>

@code {
    private bool _loadingTemplates = true;
    protected override async Task OnInitializedAsync()
    {
        if (JSRuntime is IJSInProcessRuntime)
        {
            _loadingTemplates = false;
            StateHasChanged();
        }
    }

    private async Task NavigateToResourcesPage()
    {
        _navigation.NavigateTo("resources");
    }
    private async Task NavigateToInterestRatesPage()
    {
        _navigation.NavigateTo("interest-rates");
    }

    private async Task NavigateToSimulationsPage()
    {
        _navigation.NavigateTo("simulators");
    }

    private async Task NavigateToRiskAnalysisPage()
    {
        _navigation.NavigateTo("risk-analysis");
    }

    private async Task NavigateToOptionsPage()
    {
        _navigation.NavigateTo("options");
    }
}